langchain
langgraph
langchain_chroma
langchain_huggingface
langchain_ollama
langchain_community
langchain_core
langchain_neo4j
chromadb
ollama
gradio
sentence-transformers
paddlex[ocr]
unstructured[pdf]
fastapi[standard]
ragas
datasets
uvicorn
tabulate
pandas
python-multipart
python-jose 
passlib[argon2]
camelot-py[cv]
neo4j
