langchain
langgraph
langchain_chroma
langchain_huggingface
langchain_ollama
langchain_community
langchain_core
chromadb
ollama
gradio
sentence-transformers
paddlex[ocr]
unstructured[pdf]
--index-url https://www.paddlepaddle.org.cn/packages/stable/cpu/
paddlepaddle
